/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET SUCCESSFUL */
/* ===============================================================
                         Custom Styles
   =============================================================== */
html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto 0;
}

.office-background {
	background: url(../images/main-banner.jpg) no-repeat center center;
	background-size: cover;
	height: 750px;
	padding-top: 80px;
}

.welcome-banner{
	display: flex;
	flex-wrap: wrap;
	justify-content:left;
	background: rgba(0, 0, 0, 0.65);
	height: 570px; 
}

.welcome-banner h1 {
	font-size: 5rem;
	font-weight: bold;
	line-height: 1.5;
	color: white;
	margin-left: 20px;
	padding-top: 80px;
}

.welcome-banner p {
	color: white;
	margin-left: 20px;
	line-height: 1.4;
}

.connect {
	font-size: 2rem;
	text-decoration: none;
	background: #c78c06;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-left: 20px;
	margin-bottom: 50px;
}


/* =====================================
Navigation					
=====================================*/
.header-container {
	background: #222;
}


li:first-child{
	text-align: left;
	background:#c78c06 ;
}

.nav-list {
	text-align: center;
	padding: 20px;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited {
    display: block;
    padding: 1em 0;
    text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a.current{
    background-color:#c78c06;
    color: inherit;
}

.search-bar {
	display: flex;
}

button {
	border: none;
	padding: 0;
	background: none; 
}

#search {
	width: 90%;
	height: 40px;
	font-size: 1.5rem;
	padding: 10px;
}

.im-magnifier {
	border: 1px solid #c78c06;
	background-color: #222;
	color:#c78c06;
	cursor: pointer;
	padding: 19px;
}

.aboutcontainer {
	display: flexbox;
	background: #ffe6ac;
	padding-bottom: 20px;
}

.about img {
	width: 100%;
	margin-top: 15px;
}

.about-us h2 {
	justify-content: space-evenly;
	font-size: 3rem;
	font-weight: bolder;
	margin-left: 10px;
}
.about-us p {
	margin: 15px;
	font-size: 12pt;
	line-height: 1.5;
}
/* ==========================================
				Services Section
============================================= */

.all-services {
	display: grid;
}

.digital {
	background:#ffe6ac;
}

#service {
	font-size: 3rem;
	font-weight: bolder;
	margin-left: 10px;
}
